.App {
  text-align: center;
}
.modal__none{
  display: none;
}
.modal__block{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.modal{
  width: 1000px;
  height: 800px;
  background-color: #ffffff;
}
.input__title{
  width: 100%;
  height: 80px;
  border-radius: 0%;
  border: none;
}
.input__text{
  resize: none;
  width: 100%;
  height: 500px;
  border-radius: 0%;
  border: none;
}
.modal__button{
  display: flex;
}
.post__list__box{
  width: 80%;
  padding: 100px;
  margin: auto;
  text-align: left;
}
.post__list__title{
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}
.post__list{
  width: 100%;
  height: 40px;
  text-align: left;
  line-height: 40px;
  margin: auto;
}
.post__list__title{
  margin-left: 20px;
  font-weight: bold;
}
.post__button{
  width: 80px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid royalblue;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
}
.detail__post{
  text-align: left;
  width: 60%;
  height: 100%;
  margin: auto;
  border: 1px solid #000000;
  padding: 50px;
}
.detail__title{
  width: 100%;
  height: 100px;
  font-size: 32px;
  font-weight: bold;
  line-height: 100px;
}
.detail__mainText{
  width: 100%;
  height: 800px;
  font-size: 24px;
  border-top: 1px solid #000000;
  line-height: 30px;
  padding-top: 20px;
}
.delete__button{
  float: right;
}