.App {
  text-align: center;
}
.modal__none{
  display: none;
}
.modal__block{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.modal{
  width: 1000px;
  height: 800px;
  background-color: #ffffff;
}